<nav class="side-navbar" >
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img src="assets/img/photo.png" class="img-fluid rounded-circle"></div>
      <div class="title">
        <h1 class="h4">Admin</h1>
        <p>@administrator</p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
      <li class="active"> <a [routerLink]="['/admin/home']" routerLinkActive="router-link-active" ><i class="icon-home"></i>Home</a></li>
      <li> <a [routerLink]="['/admin/tables']" routerLinkActive="router-link-active" > <i class="fa fa-table"></i>Tables </a></li>
    </ul><span class="heading">QUERY</span>
    <ul class="list-unstyled">
      <li> <a [routerLink]="['/admin/query']" routerLinkActive="router-link-active" > <i class="icon-interface-windows"></i>Query</a></li>
      <li> <a [routerLink]="['/admin/country']" routerLinkActive="router-link-active" > <i class="icon-grid"></i>Pais</a></li>
      <li> <a [routerLink]="['/admin/question']" routerLinkActive="router-link-active" > <i class="fa fa-question"></i>Pregunta</a></li>
      <li> <a [routerLink]="['/admin/responce']" routerLinkActive="router-link-active" > <i class="fa fa-reply"></i>Respuesta</a></li>
      <li> <a [routerLink]="['/admin/inventos']" routerLinkActive="router-link-active" > <i class="fa fa-user"></i>Inventos</a></li>
    </ul>
  </nav>
