<header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Query</h2>
    </div>
  </header>
<ul class="breadcrumb">
    <div class="container-fluid">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Query</li>
    </div>
  </ul>

  <section class="tables">   
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
            <div class="card">
             
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">Query Selector</h3>
              </div>
              <div class="card-body">
                <p>Enter the query number you want to see.</p>
                <form>
                  <div class="form-group">
                    <label class="form-control-label">Query</label>
                    <input type="number" #idquery placeholder="Query Id" class="form-control">
                  </div>
                  <div class="form-group">       
                    <input type="button" (click)="send_query(idquery.value)" value="Go" class="btn btn-primary">
                  </div>
                </form>
              </div>
            </div>
          </div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-close">
              <div class="input-group">
                  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
                </div>
            </div>
            <br>
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">Results of Query</h3>
            </div>
            <div class="card-body" >
              <table class="table table-striped" *ngIf="id_general == 1">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Profesional</th>
                    <th>Inventos Asignados</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.profesional }}</td>
                    <td>{{ data.NOMBRE_PROFESIONAL }}</td>
                    <td>{{ data.inventos_asignados}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 2">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Pais</th>
                    <th>Cant Respuestas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.idPais }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.total_respuestas}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 3">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Pais</th>
                    <th>Area</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.id }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.area }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 4 || id_general == 16">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Area</th>
                    <th>Jefe Area</th>
                    <th>Subordinado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.id }}</td>
                    <td>{{ data.area }}</td>
                    <td>{{ data.Jefe_Area }}</td>
                    <td>{{ data.subordinado }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 5">
                <thead>
                  <tr>
                    <th>Profesional</th>
                    <th>Area</th>
                    <th>Salario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.proesional }}</td>
                    <td>{{ data.area }}</td>
                    <td>${{ data.salario }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 6">
                <thead>
                  <tr>
                    <th>Pais</th>
                    <th>Total Aciertos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.TOTAL_ACIERTOS }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 7">
                <thead>
                  <tr>
                    <th>Investigador</th>
                    <th>Invento</th>
                    <th>Año </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.Investigador }}</td>
                    <td>{{ data.invento }}</td>
                    <td>{{ data.anio }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 8">
                <thead>
                  <tr>
                    <th>Inicial Pais</th>
                    <th>Area </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.inicial_pais }}</td>
                    <td>{{ data.total_area }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 9 || id_general == 10">
                <thead>
                  <tr>
                    <th>Inventor</th>
                    <th>Invento</th>
                    <th>Año </th>
                    <th>Pais </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.Inventor }}</td>
                    <td>{{ data.Invento }}</td>
                    <td>{{ data.Anio_Invento }}</td>
                    <td>{{ data.Pais_Invento }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 11">
                <thead>
                  <tr>
                    <th>Pais</th>
                    <th>Nombre</th>
                    <th>Area</th>
                    <th>Cantidad Fronteras</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.pais }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.area }}</td>
                    <td>{{ data.cant_fronteras }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 12">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Invento</th>
                    <th>Año </th>
                    <th>Pais </th>          
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.id }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.anio }}</td>
                    <td>{{ data.pais }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 13 || id_general == 20">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Salario </th>
                    <th>Fecha Contrato </th>          
                    <th>Comision </th>          
                    <th>Total Salario </th>          
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.id }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.salario }}</td>
                    <td>{{ data.contrato }}</td>
                    <td>{{ data.comision }}</td>
                    <td>{{ data.total_Salario }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 14">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Encuesta</th>
                    <th>Total Paises </th>          
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.id }}</td>
                    <td>{{ data.Nombre_Encuesta }}</td>
                    <td>{{ data.total_paises }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 15">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Poblacion </th>
                    <th>Area </th>          
                    <th>Capital </th>          
                    <th>Region </th>          
                    <th>Continente </th>          
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.id }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.poblacion }}</td>
                    <td>{{ data.area }}</td>
                    <td>{{ data.capital }}</td>
                    <td>{{ data.region }}</td>
                    <td>{{ data.continente }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 17">
                <thead>
                  <tr>
                    <th>Invento</th>
                    <th>Inventor</th>          
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.invento }}</td>
                    <td>{{ data.inventor }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 18">
                <thead>
                  <tr>
                    <th>Pais</th>
                    <th>Poblacion</th>          
                    <th>Area</th>          
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.poblacion }}</td>
                    <td>{{ data.area }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped" *ngIf="id_general == 19">
                <thead>
                  <tr>
                    <th>Pais</th>
                    <th>Frontera</th>          
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of results | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <td>{{ data.Pais }}</td>
                    <td>{{ data.Frontera }}</td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>