<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Tables</h2>
    </div>
  </header>
<br>

<!-- Dashboard Header Section    -->
<section class="client no-padding-top">
    <div class="container-fluid">
      <div class="row">
        <!-- Work Amount  -->
        <div class="col-lg-4">
            <div class="overdue card">
              <div class="card-close">
                <div class="dropdown">
                  <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                  <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                </div>
              </div>
              <div class="card-body ">
                <h3>Load Data</h3>
                <div class="number text-center">
                    <img src="assets/img/db.png" alt="">
                </div>
                <div class="client-title text-center">
                  <a href="#">Follow</a>
                </div>
              </div>
            </div>
          </div>
        <!-- Client Profile -->
        <div class="col-lg-4">
            <div class="overdue card">
              <div class="card-close">
                <div class="dropdown">
                  <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                  <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                </div>
              </div>
              <div class="card-body ">
                <h3>Normalize Data</h3>
                <div class="number text-center">
                    <img src="assets/img/db.png" alt="">
                </div>
                <div class="client-title text-center">
                  <a href="#">Follow</a>
                </div>
              </div>
            </div>
          </div>
        <!-- Total Overdue             -->
        <div class="col-lg-4">
          <div class="overdue card">
            <div class="card-close">
              <div class="dropdown">
                <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
              </div>
            </div>
            <div class="card-body ">
              <h3>Load Data</h3>
              <div class="number text-center">
                  <img src="assets/img/db.png" alt="">
              </div>
              <div class="client-title text-center">
                <a href="#">Follow</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>