<header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Country</h2>
    </div>
  </header>

  <ul class="breadcrumb">
    <div class="container-fluid">
      <li class="breadcrumb-item"><a [routerLink]="['/admin/home']" routerLinkActive="router-link-active" >Home</a></li>
      <li class="breadcrumb-item active">Country</li>
    </div>
  </ul>

  <section class="tables">   
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-close">
              <div class="input-group">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
                <span class="input-group-btn">
                    <button type="button" data-toggle="modal" data-target="#modalAgregar" class="btn btn-primary">New Country </button>
                </span>
              </div>
            </div>
            <br>
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">Country List</h3>
            </div>
            <div class="card-body">
              <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Poblation</th>
                    <th>Area</th>
                    <th>Capital</th>
                    <th>Region</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pais of array_pais | paginate: { itemsPerPage: 10, currentPage: p }| filter:searchText">
                    <th scope="row">{{ pais.id }}</th>
                    <td>{{ pais.nombre }}</td>
                    <td>{{ pais.poblacion }}</td>
                    <td>{{ pais.area }}</td>
                    <td>{{ pais.capital }}</td>
                    <td>{{ pais.region }}</td>
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                              <button type="button" (click)="delete(pais.id)" class="btn btn-secondary"><i class="fa fa-trash"></i></button>
                              <button type="button" data-toggle="modal" data-target="#modalEditar" (click)="set_Country(pais)" class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
                            </div>
                          </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade text-left" aria-hidden="true" style="display: none;">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="exampleModalLabel" class="modal-title">New Country</h4>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Name</label>
              <input type="text" placeholder="Name" #name class="form-control">
            </div>
            <div class="form-group">       
              <label>Poblation</label>
              <input type="number" placeholder="Poblation" #poblation class="form-control">
            </div>
            <div class="form-group">       
                <label>Area</label>
                <input type="number" placeholder="Area" #area class="form-control">
              </div>
              <div class="form-group">       
                <label>Capital</label>
                <input type="text" placeholder="Capital" #capital class="form-control">
              </div>
              <div class="form-group">       
                <label>Region</label>
                <select name="" class="form-control" #region id="">
                    <option *ngFor="let region of array_region" value="{{ region.id }}">{{ region.nombre }}</option>
                </select>
              </div>
              <div class="form-group text-center" *ngIf="showAletr"> 
                <div class="badge badge-rounded bg-red"> You must fill in all the fields </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
          <button type="button" (click)="save_country(name.value, poblation.value, area.value, capital.value, region.value)" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade text-left" aria-hidden="true" style="display: none;">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="exampleModalLabel" class="modal-title">Update Country</h4>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Name</label>
              <input type="text" placeholder="Name" value="{{nombre}}"  #name2 class="form-control">
            </div>
            <div class="form-group">       
              <label>Poblation</label>
              <input type="number" placeholder="Poblation" value="{{poblacion}}" #poblation2 class="form-control">
            </div>
            <div class="form-group">       
                <label>Area</label>
                <input type="number" placeholder="Area" value="{{area1}}" #area2  class="form-control">
              </div>
              <div class="form-group">       
                <label>Capital</label>
                <input type="text" placeholder="Capital" value="{{capital1}}" #capital2  class="form-control">
              </div>
              <div class="form-group">       
                <label>Region</label>
                <select name="" class="form-control" #region2 id="">
                    <option *ngFor="let region of array_region" value="{{ region.id }}">{{ region.nombre }}</option>
                </select>
              </div>
              <div class="form-group text-center" *ngIf="showAletr"> 
                <div class="badge badge-rounded bg-red"> You must fill in all the fields </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
          <button type="button" (click)="update_country(name2.value, poblation2.value, area2.value, capital2.value, region2.value)" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


